.video1{
    height: 50%;
    width: 100%;
}
.home-logo{
   width: 50%;
   margin-top: -60%;
   margin-left: 15%;
}
.carousel-item active{
    width: 100%;
    height: 50%;
}
.metro{
    width: 100%;
    height: 100%;
}

.mainheading{
    margin-top: -70%;

   
}

.foot{
    margin-top: 100%;
}
.w2{
    color: white;
    align-items: center;
}
.mm{
    font-size: 68px;
    color: orange;
}
.subheading1{
    color: white;
}
.subheading2{
    color: white;
    margin-top: -2%;
}
.vw{

    a{
        border: solid black 1px;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-style: bold;

    }
    
}