#main-content{
    display: none;
}

#loading-screen{
    height: 100vh;
    width: 100vw;
    background: url(../img/loader.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btnown{
    border:  solid black 2px;
}
#btnown1{
    border: solid black 1px;
    padding: 4px;
    border-radius: 5px;
}
#btnown1:hover{
    color: white;
    background-color: black;
}
.vid{
    border-radius: 50px;
}