.pathinfo{
    background-color: antiquewhite;
}
.fs{
    font-size: 36px;
}
.bi{/*#A0D8F0*/
    background-color: #55528D;

}
.cs{
    width: 100%;
    border: solid black 1px;
    padding: 1%;
    border-radius: 10px;
}
.igb{
    border-radius: 10px;
    width: 100%;
}
.igbut{
    width: 100%;
    border-radius: 10px;
    color: white;
}


/* nasik*/
.marque{
    display: flex;
    background-color: #3C3C43;
    /* height: 50px; */
    line-height: 1.6em;
    color: #D9CCED;
    align-items: center;
  }

.pune-title-heading{
    font-weight: 700;
    font-size: 30px;
}

.whatsApp{
    width: 200px;
    
}

.helpline{
    width: 200px;
}

.G20{
    width: 30rem;
}

.explore{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon-contact{
    width: 2rem;
}

.para{
    p{
        padding: 4%;
    }
}