.marque{
    display: flex;
    background-color: #3C3C43;
    /* height: 50px; */
    line-height: 1.6em;
    color: #D9CCED;
    align-items: center;
  }

.pune-title-heading{
    font-weight: 700;
    font-size: 30px;
}

.whatsApp{
    width: 200px;
    
}

.helpline{
    width: 200px;
}

.G20{
    width: 22rem;
}

.explore{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon-contact{
    width: 2rem;
}